<a href="https://colab.research.google.com/github/Yamm23/Learning-Macine-Learning/blob/main/Global_Street_Food.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Import necessary modules and reading the csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('/content/drive/MyDrive/LearningAI_CSV/Global_Street_Food/global_street_food.csv')

**Preprocessing**

In [19]:
print('CSV Data Head')
print(df.head())
print('\nData Description')
print(df.describe())
print('\nChecking for null values')
print(df.notnull().sum())
print('\nData Info')
print(df.info())

CSV Data Head
     Dish Name   Country Region/City  \
0     Takoyaki     Japan       Osaka
1     Vada Pav     India      Mumbai
2  Funnel Cake       USA       Texas
3   Kathi Roll     India     Kolkata
4     Pad Thai  Thailand     Bangkok

                                         Ingredients  \
0  Octopus, Flour Batter, Bonito Flakes, Green On...
1                 Potato, Spices, Bread Bun, Chutney
2                                 Batter, Sugar, Oil
3           Flatbread, Egg, Chicken, Onions, Chutney
4    Rice Noodles, Tofu, Eggs, Peanuts, Bean Sprouts

                                         Description Cooking Method  \
0  Crispy and hot, often served with sauces or ch...          Fried
1  Crispy and hot, often served with sauces or ch...          Fried
2  Crispy and hot, often served with sauces or ch...          Fried
3         Charred to perfection with a smoky flavor.        Grilled
4     Quickly tossed in a hot pan with bold flavors.     Stir-Fried

   Typical Price (USD) Vegetarian
0                 3.28         No
1                 2.37        Yes
2                 2.78        Yes
3                 1.89         No
4                 3.48        Yes

Data Description
       Typical Price (USD)
count          4500.000000
mean              2.657429
std               1.358311
min               0.200000
25%               1.560000
50%               2.660000
75%               3.830000
max               5.000000

Checking for null values
Dish Name              4500
Country                4500
Region/City            4500
Ingredients            4500
Description            4500
Cooking Method         4500
Typical Price (USD)    4500
Vegetarian             4500
dtype: int64

Data Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Dish Name            4500 non-null   object
 1   Country              4500 non-null   object
 2   Region/City          4500 non-null   object
 3   Ingredients          4500 non-null   object
 4   Description          4500 non-null   object
 5   Cooking Method       4500 non-null   object
 6   Typical Price (USD)  4500 non-null   float64
 7   Vegetarian           4500 non-null   object
dtypes: float64(1), object(7)
memory usage: 281.4+ KB
None