<a href="https://colab.research.google.com/github/Yamm23/Learning-Macine-Learning/blob/main/WW2_Aircraft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import Necessary Modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("/content/drive/MyDrive/LearningAI_CSV/WW2_Aircraft/world_war_2_aircrafts.csv")

In [ ]:
df.head()

,Aircraft Type,Aircraft Subtype,Aircraft Name,Year in Service,Country of Origin,Operator(s) if different from country of origin
0,Fighter aircraft,Biplane fighters,Armstrong Whitworth Scimitar,1936,UK,Norway
1,Fighter aircraft,Biplane fighters,Avia B-534,1935,Czechoslovakia,"Czechoslovakia, Bulgaria, Germany, Greece, Slo..."
2,Fighter aircraft,Biplane fighters,Avia BH-33,1927,Czechoslovakia,Yugoslavia
3,Fighter aircraft,Biplane fighters,Blériot-SPAD S.510,1936,France,NaN
4,Fighter aircraft,Biplane fighters,Boeing P-12,1930,US,"Brazil, China, Philippines, Thailand"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1176 entries, 0 to 1175
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Aircraft Type                                    1176 non-null   object
 1   Aircraft Subtype                                 1176 non-null   object
 2   Aircraft Name                                    1175 non-null   object
 3   Year in Service                                  1173 non-null   object
 4   Country of Origin                                1175 non-null   object
 5   Operator(s) if different from country of origin  567 non-null    object
dtypes: object(6)
memory usage: 55.3+ KB

In [ ]:
df.isnull().sum()

Aircraft Type                                        0
Aircraft Subtype                                     0
Aircraft Name                                        1
Year in Service                                      3
Country of Origin                                    1
Operator(s) if different from country of origin    609
dtype: int64

In [ ]:
df.describe()

,Aircraft Type,Aircraft Subtype,Aircraft Name,Year in Service,Country of Origin,Operator(s) if different from country of origin
count,1176,1176,1175,1173,1175,567
unique,12,33,1166,28,33,407
top,Prototypes,"Communications, Liaison and Light transport ai...",Boeing B-17 Flying Fortress,1940,US,"US, UK"
freq,292,93,2,113,272,16

In [ ]:
df['Aircraft Name']

0        Armstrong Whitworth Scimitar
1                          Avia B-534
2                          Avia BH-33
3                  Blériot-SPAD S.510
4                         Boeing P-12
                    ...
1171                           Mistel
1172                Northrop JB-1 Bat
1173               Republic-Ford JB-2
1174    Rheinmetall-Borsig Feuerlilie
1175                    Ruhrstahl X-4
Name: Aircraft Name, Length: 1176, dtype: object

In [ ]:
df['Manufacturer'] = df['Aircraft Name'].str.split().str[0].str.strip()

In [ ]:
df['Manufacturer'].unique()

array(['Armstrong', 'Avia', 'Blériot-SPAD', 'Boeing', 'Bristol',
       'Curtiss', 'Fiat', 'Gloster', 'Grumman', 'Hawker', 'Heinkel',
       'IMAM', 'Kawasaki', 'Kochyerigin', 'Koolhoven', 'Polikarpov',
       'Prajadhipok', 'Ambrosini', 'Ansaldo', 'Arsenal', 'Bell', 'Bloch',
       'Breda', 'Brewster', 'CAC', 'Caudron', 'Curtiss-Wright',
       'Dewoitine', 'Focke-Wulf', 'Fokker', 'IAR', 'Ikarus', 'Kawanishi',
       'Lavochkin-Gorbunov-Gudkov', 'Lavochkin', 'Loire', 'Macchi',
       'MÁVAG', 'Messerschmitt', 'Mikoyan-Gurevich', 'Mitsubishi',
       'Morane-Saulnier', 'Nakajima', 'North', 'PZL', 'Reggiane',
       'Republic', 'Rogožarski', 'Seversky', 'Supermarine', 'VL',
       'Vought', 'Vultee', 'Yakovlev', nan, 'Blackburn', 'Boulton', 'de',
       'Dornier', 'Douglas', 'Fairey', 'Junkers', 'Lockheed', 'Northrop',
       'Petlyakov', 'Potez', 'Westland', 'Ryan', 'Avro', 'Blohm',
       'Consolidated', 'Farman', 'Handley', 'Piaggio', 'Short', 'Tupolev',
       'Vickers', 'Amiot', 'Arado', 'Arkhangelsky', 'CANT', 'Caproni',
       'FMA', 'Ilyushin', 'Keystone', 'Kyushu', 'Lioré', 'Martin',
       'PZL.37', 'Savoia-Marchetti', 'Sukhoi', 'Yermolayev', 'Yokosuka',
       'Aero', 'ANF', 'Boripatra', 'Breguet', 'DAR-3', 'Henschel',
       'Kaproni', 'Kharkov', 'Letov', 'Lublin', 'Northrop/Douglas',
       'PZL.23/43', 'PZL.43', 'Renard', 'RWD-14', 'Saab', 'Tachikawa',
       'Weiss', 'Aichi', 'Fieseler', 'Loire-Nieuport', 'Naval',
       'PWS-10[notes', 'Beriev', 'CAMS', 'Canadian', 'Chyetverikov',
       'Hall', 'Latécoère', 'Potez-CAMS', 'RAS-1', 'Saro', 'Shavrov',
       'Sikorsky', 'SNCASE', 'Besson', 'Gourdou-Leseurre', 'Levasseur',
       'Marinens', 'Watanabe', 'Budd', 'Fairchild', 'Ford', 'Gotha',
       'Kokusai', 'Lisunov', 'Percival', 'PWS-24bis', 'Showa/Nakajima',
       'Siebel', 'Aeronca', 'Airspeed', 'AVIA', 'Barkley-Grow',
       'Beechcraft', 'Beneš-Mráz', 'CAP', 'Cessna', 'Foster', 'Fleet',
       'Hanriot', 'Harlow', 'Howard', 'Interstate', 'Laville', 'Miles',
       'Noorduyn', 'Moskalyev', 'Piper', 'Porterfield', 'Rearwin', 'SAI',
       'SAIMAN', 'Shcherbakov', 'Putilov', 'RWD', 'Spartan', 'Stinson',
       'Taylorcraft', 'Tugan', 'Waco', 'Antonov', 'DFS', 'General',
       'Gribovski', 'Kolesnikov-Tsibin', 'Maeda', 'Slingsby',
       'Laister-Kauffman', 'Schweizer', 'Schneider', 'ANBO',
       'Boeing-Stearman', 'Bücker', 'DAR', 'Klemm', 'Meyers', 'Mráz',
       'Praga', 'PWS-16', 'Repülőgépgyár', 'Timm', 'Zlín', 'I.Ae.',
       'Muniz', 'Mansyu', 'Nardi', 'Nieuport-Delage', 'Orlogsværftet',
       'PTO-4', 'PWS-26', 'Romano', 'SET', 'Stampe', 'Svenska', 'THK-2',
       'VEF', 'Zmaj', 'De', 'LWS-6/PZL.30', 'Cierva', 'Flettner',
       'Focke-Achgelis', 'Kamov', 'Kayaba', 'Pitcairn', 'Goodyear',
       'Aeronautica', 'Culver', 'McDonnell', 'Radioplane', 'V-1', 'V-2',
       'Aviotehas', 'Bachem', 'Bereznyak-Isayev', 'Borovkov-Florov',
       'Chu', 'Horten', 'Martin-Baker', 'PZL.50', 'SNCAO', 'XP-1',
       'Arsenal-Delanne', 'SABCA', 'Fisher', 'Hughes', 'Nikitin',
       'PZL.38', 'CANSA', 'Kaiser-Fleetwings', 'PZL.42', 'PZL.46',
       'Rikugun', 'Stearman', 'XB-3', 'Burnelli', 'Kobeseiko', 'LWS-2',
       'Stout', 'Allied', 'Baynes', 'CAT', 'Chase', 'Cornelius',
       'Frankfort', 'Pratt-Read', 'St.Louis', 'AEKKEA-Raab', 'Fleetwings',
       'Heston', 'Parnall', 'PWS-33', 'PWS-35', 'Reid', 'Rogozarski',
       'St.', 'Breguet-Dorand', 'Dorand', 'Hafner', 'Higgins', 'Kellett',
       'Landgraf', "Piaggio-D'Ascanio", 'Piasecki', 'Platt-LePage',
       'Vought-Sikorsky', 'AVIS', 'Bestetti', 'ERCO', 'LWS-3', 'Nihon',
       'Nikol', 'SFAN', 'SNCAC', 'Zveno', 'Göppingen', 'Hiller',
       'Hillson', 'Lippisch', 'Payen', 'Folland', 'Akaflieg', 'EMW',
       'Fletcher', 'Mistel', 'Republic-Ford', 'Rheinmetall-Borsig',
       'Ruhrstahl'], dtype=object)

In [32]:
curtiss_count = (df['Manufacturer']=='Curtiss').sum()
curtiss_count

np.int64(20)

In [31]:
df[df['Aircraft Name'].str.split().str[0].str.strip()=='Curtiss'].shape[0]

20